.container {
    position: relative;
    width: 100%;
    height: 624px;
    /* Set the height of the container as per your image size */
    background-image: url('../../assets/login_bg.png');
    background-size: cover;
    background-position: center;
    border-radius: 16px;
}

.input_fields {
    position: absolute;
    top: 50%;
    left: 82%;
    width: 25%;
    transform: translate(-50%, -50%);
    padding: 10px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
}

input {
    /* position: absolute; */
    /* Set the positioning of the input elements relative to the container */
    /* top: 50%; */
    /* left: 80%; */
    /* transform: translate(-50%, -50%); */
    /* Add any other styles you want for the input elements */
    width: 300px;
    padding: 15px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}